
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffe6e6;
  }
  
  .page-title {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .main-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 15px;
  }
  
  .current-time {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
  }
  
  .alarm-form {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .alarm-form select {
    margin-right: 10px;
    font-size: 25px;
    padding: 10px;
    border: none;
    background-color: #ffe6e6;
    border-radius: 10px;
    color: #333;
  }
  
  .submit-button {
    background-color: #ff4d4d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .submit-button:hover {
    transform: scale(1.1);
  }
  
  .set-alarm-container {
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 15px;
  }
  
  .set-alarm-container-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #ff4d4d;
  }
  
  .alarms-container {
    display: flex;
    flex-direction: column;
  }
  
  .alarm-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }
  
  .alarm-item .time {
    flex-grow: 1;
  }
  
  .alarm-item .delete {
    color: #ff4d4d;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .alarm-item .delete:hover {
    transform: scale(2.1);
  }
  